$userColor:#29bbe3;
$interlocutorColor:#29E3E1;

.message__text {
  display: grid;
  border-radius: 10px;
  padding: 8px 19px 12px 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
}

.message__text_user {
  background: $userColor;
}

.message__text_interlocutor {
  background: $interlocutorColor;
}

.message__block {
  display: grid;
  grid-template-columns: minmax(200px, 0.8fr);

  padding-right: 30px;
  padding-bottom: 12px;
  justify-content: flex-end;
}

.message__block_user {
  justify-content: flex-end;
  padding-left: 16px;
}

.message__block_interlocutor {
  justify-content: flex-start;
  padding-left: 20px;
}

.message__text_user:before {
    right: 17px;
    border-right: 20px solid $userColor;
    border-bottom-left-radius: 16px 14px;
    transform: translate(0, 11px);
    content: "";
    position: absolute;
    height: 20px;
}

.message__text_user:after {
    right: 11px;
    width: 20px;
    background: white;
    border-bottom-left-radius: 15px;
    transform: translate(1px, 10px);
    content: "";
    position: absolute;
    height: 25px;
}

.message__text_interlocutor:before {
  left: 14px;
  border-right: 20px solid $interlocutorColor;
  border-bottom-right-radius: 16px 14px;
  transform: translate(0, 11px);
  content: "";
  position: absolute;
  height: 20px;
}

.message__text_interlocutor:after {
  left: 0px;
  width: 20px;
  background: white;
  border-bottom-right-radius: 15px;
  transform: translate(0px, 10px);
  content: "";
  position: absolute;
  height: 25px;
}

.message__name {
 
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: rgba(0, 0, 0, 0.5);
}

.message__name_user {
  text-align: right;
  padding-right: 10px;
}

.message__name_interlocutor {
  text-align: left;
  padding-left: 16px;
}